doctype html
html
  head
    title Sudoku solver
    link(rel='stylesheet', href='css/style.css', type='text/css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    .pure-g
      .pure-u-1
        h1 sudoku-solver.js
      .pure-u-1
        table.sudoku.pure-table.pure-table-bordered
          tbody
            tr
              td
                input(type='text', name='a1')
              td
                input(type='text', name='a2')
              td
                input(type='text', name='a3')
              td
                input(type='text', name='a4')
              td
                input(type='text', name='a5')
              td
                input(type='text', name='a6')
              td
                input(type='text', name='a7')
              td
                input(type='text', name='a8')
              td
                input(type='text', name='a9')
            tr
              td
                input(type='text', name='b1')
              td
                input(type='text', name='b2')
              td
                input(type='text', name='b3')
              td
                input(type='text', name='b4')
              td
                input(type='text', name='b5')
              td
                input(type='text', name='b6')
              td
                input(type='text', name='b7')
              td
                input(type='text', name='b8')
              td
                input(type='text', name='b9')
            tr
              td
                input(type='text', name='c1')
              td
                input(type='text', name='c2')
              td
                input(type='text', name='c3')
              td
                input(type='text', name='c4')
              td
                input(type='text', name='c5')
              td
                input(type='text', name='c6')
              td
                input(type='text', name='c7')
              td
                input(type='text', name='c8')
              td
                input(type='text', name='c9')
            tr
              td
                input(type='text', name='d1')
              td
                input(type='text', name='d2')
              td
                input(type='text', name='d3')
              td
                input(type='text', name='d4')
              td
                input(type='text', name='d5')
              td
                input(type='text', name='d6')
              td
                input(type='text', name='d7')
              td
                input(type='text', name='d8')
              td
                input(type='text', name='d9')
            tr
              td
                input(type='text', name='e1')
              td
                input(type='text', name='e2')
              td
                input(type='text', name='e3')
              td
                input(type='text', name='e4')
              td
                input(type='text', name='e5')
              td
                input(type='text', name='e6')
              td
                input(type='text', name='e7')
              td
                input(type='text', name='e8')
              td
                input(type='text', name='e9')
            tr
              td
                input(type='text', name='f1')
              td
                input(type='text', name='f2')
              td
                input(type='text', name='f3')
              td
                input(type='text', name='f4')
              td
                input(type='text', name='f5')
              td
                input(type='text', name='f6')
              td
                input(type='text', name='f7')
              td
                input(type='text', name='f8')
              td
                input(type='text', name='f9')
            tr
              td
                input(type='text', name='g1')
              td
                input(type='text', name='g2')
              td
                input(type='text', name='g3')
              td
                input(type='text', name='g4')
              td
                input(type='text', name='g5')
              td
                input(type='text', name='g6')
              td
                input(type='text', name='g7')
              td
                input(type='text', name='g8')
              td
                input(type='text', name='g9')
            tr
              td
                input(type='text', name='h1')
              td
                input(type='text', name='h2')
              td
                input(type='text', name='h3')
              td
                input(type='text', name='h4')
              td
                input(type='text', name='h5')
              td
                input(type='text', name='h6')
              td
                input(type='text', name='h7')
              td
                input(type='text', name='h8')
              td
                input(type='text', name='h9')
            tr
              td
                input(type='text', name='i1')
              td
                input(type='text', name='i2')
              td
                input(type='text', name='i3')
              td
                input(type='text', name='i4')
              td
                input(type='text', name='i5')
              td
                input(type='text', name='i6')
              td
                input(type='text', name='i7')
              td
                input(type='text', name='i8')
              td
                input(type='text', name='i9')
      .pure-u-1
        .solve-button-container
          a.solve-button.pure-button solve
