doctype html
html
  head
    title Sudoku solver
    link(rel='stylesheet', href='css/style.css', type='text/css')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext', type='text/css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    script(src='js/bundle.js')
