@import '../node_modules/purecss/build/pure.css'

body
  background #f4f2ea
  font-family: 'Lato', sans-serif
  font-size 16px

h1
  color #3f2860
  font-weight 100
  font-size 3em
  letter-spacing 6px
  text-align center
  margin 20px 0px

.sudoku
  margin 0 auto
  border-width 3px
  td
    padding 0
  tr:nth-child(3n+3)
    border-bottom 3px solid #cbcbcb
  td:nth-child(3n+4)
    border-left 3px solid #cbcbcb

input
  font-size 2em
  border none
  padding 10px
  width 1em
  text-align center

.invalid
  input
    background #D8412B
    color #fff

.solve-button-container
  text-align center
  .pure-button
    margin 20px
    font-size 2em
    font-weight 100
    letter-spacing 10px
    color #fff

  .validate-button, .solve-button
    background #ef6d3b
    &:hover
      background #fa8b60
    &.is-valid
      background #558c4c
    &.is-invalid
      background #ef554f
